{% extends "layout-student.html" %}

{% block main %}

<div class="main__container">
    <div class="bg-dark text-light p-4">
      <h3 class="mb-2 text-light stream_text">CHANGE YOUR PASSWORD<a href="https://github.com/webpixels/css" target="_blank"></a></h3>

      <form action="/change-password" method="POST">
        <label for="cp">Current Password</label><br>
        <input type="password" id="passwr" name="current_password" value=""><br><br>
        <label for="np">New Password</label><br>
        <input type="password" id="passwr" name="new_password"><br><br>
        <label for="cnp">Confirm New Password</label><br>
        <input type="password" id="passwr" name="confirm_new_password"><br><br>
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>
</div>

{% endblock %}