{% extends "layout-student.html"%}


{% block main %}

<div class="main__container">
          <div class="bg-dark text-light p-4">
            <p class="mb-2 text-light sem_text">STREAM : {{current_user.student.department}}</p>
            <p class="text-light sem_text">SEMESTER : {{current_user.student.semester}}</p>
          </div><br>
         
          <div class="table-responsive">
            <table class="table table-hover table-nowrap">
              <thead class="thead-light">
                <tr>
                  
                  <th scope="col">Subject</th>
                  <th scope="col">Faculty</th>
                  
                  
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for subject in course.subject %}
                    <tr>
                      <td data-label="Lead Score">
                        <p class="text-current">
                          {{subject.name}}
                        </p>
                      </td>
                      <td data-label="Job Title">
                        <img alt="..." src="https://www.w3schools.com/howto/img_avatar.png" class="avatar avatar-sm rounded-circle me-2">
                        <a class="text-heading font-semibold" href="#">
                          {{subject.teacher.name}}
                        </a>
                      </td>               
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
{% endblock %}