{% extends "layout-student.html"%}

{% block main %}

<div class="main__container">
    <div class="bg-dark text-light p-4">
      <h3 class="mb-2 text-light stream_text">SUBJECT <a href="https://github.com/webpixels/css" target="_blank"></a></h3>
      <p class="text-light sem_text">PAPER CODE</p>
    </div><br>
  <div class="">
<table class="table table-responsive">
<thead class="thead-default">
<tr>
  
  <th>LIST</th>
  
  
  <th>NOTES</th>
</tr>
</thead>
<tbody>

{% for note in notes %}

<tr>
  <td>{{note.subject}}</td>
  <td class="text-right">
    <div class="btn-group btn-group-sm">
      <a href="{{note.content_url}}" class="btn btn-danger">Download</a>
    </div>
  </td>
</tr>

{% endfor %}

</tbody>
</table>
</div>

{% endblock %}