{% extends "layout-student.html"%}

{% block main %}

<div class="main__container">
    <div class="bg-dark text-light p-4">
      <h3 class="mb-2 text-light stream_text">NAME : <a href="https://github.com/webpixels/css" target="_blank"></a> {{teacher.name}}</h3>
      <p class="text-light sem_text">DEPARTMENT : {{teacher.department}}</p>
    </div>
   
    <br>
<div class="main__cards">
      <div class="card">
        <i class="fa fa-telegram fa-2x text-yellow" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Email : {{teacher.user.email}}</p>
          
        </div>
      </div>

      <div class="card">
        <i class="fa fa-calendar fa-2x text-red" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Specialization : {{teacher.subject[0].name}}</p>
          
        </div>
      </div>

      <div class="card">
        <i
          class="fa fa-user-o fa-2x text-lightblue"
          aria-hidden="true"
        ></i>
        <div class="card_inner">
          <p class="text-primary-p">Contact : {{teacher.mobile}}</p>
          
        </div>
      </div>

      <div class="card">
        
         <i class="fa fa-telegram fa-2x text-yellow" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Employee Id : {{teacher.emp_id}}</p>
          
        </div>
      </div>
    </div>
<div class="table-responsive">
      <table class="table table-hover table-nowrap">
<p><input type="file"  accept="image/*" name="image" id="file" style="display: none;"></p>
        <p><label for="file" style="cursor: pointer;"></label></p><br>
        <p><img id="output" align="center" width="500" height = "250" src="{{teacher.profile_image}}"/>

       
        </td>
        <td data-label="" class="text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </td>
      </tr><tr><td data-label="">
          <a class="text-current" href="#"></a>
        </td>
        
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Job Title">
          <!--<img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">-->
          <!--<a class="text-heading font-semibold" href="#">
            Sujoy Mondal
          </a>-->
        </td>
        <td data-label="" class="text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </td>
      </tr><tr><td data-label="">
          <a class="text-current" href="#"></a>
        </td>
        
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success"></span>
        </td>
        <td data-label="Job Title">
          <!--<img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">-->
          <!--<a class="text-heading font-semibold" href="#">
            Sujoy Mondal
          </a>-->
        </td>
        <td data-label="" class="text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td data-label="">
          <a class="text-current" href="#"></a>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-warning text-warning"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-warning text-warning"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-warning text-warning"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-warning text-warning"></span>
        </td>
        <td data-label="Job Title">
          
        </td>
        <td data-label="" class="text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td data-label="">
          <a class="text-current" href="#"></a>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-danger text-danger"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-danger text-danger"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-danger text-danger"></span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-danger text-danger"></span>
        </td>
        <td data-label="Job Title">
         
        </td>
        <td data-label="" class="text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </td>
      </tr>
     
   </div>

{% endblock %}