{% extends "layout-teacher.html" %}

{% block main %}

<div>
    <form action="" method="post">
        <select name="stream" class="ca_marks_stream">
            <option value="None">--Select the Stream--</option>
            <option value="ece">ECE</option>
            <option value="it">IT</option>
            <option value="cse">CSE</option>
        </select>

        <br><br>

        <select name="semester" class="ca_marks_semester">
            <option value="None">--Select the Semester--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

        <br><br>

        <select name="subject" class="ca_marks_stream">
            <option value="None">--Select the Subject--</option>
            {% for subject in current_user.teacher.subject %}
            <option value="{{subject.id}}">{{subject.name}} <=> {{subject.code}}</option>
            {% endfor %}
        </select>
    <br><br>
    <button type="submit" value="submit" style="background-color: blue;">Submit</button>
    </form>
</div>

<div class="main__container">
    <!-- <div class="bg-dark text-light p-4">
      <h3 class="mb-2 text-light stream_text">STREAM <a href="https://github.com/webpixels/css" target="_blank"></a></h3>
      <p class="text-light sem_text">SEMESTER</p>
    </div> -->
    <br>
   
    <div class="table-responsive">
      <table class="table table-hover table-nowrap">
        <thead class="thead-light">
          <tr>
            
            
            <th scope="col">Student Name</th>
             <th scope="col">CA-1</th>
             <th scope="col">CA-2</th>
            <th scope="col">CA-3</th>
            <th scope="col">CA-4</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ca_mark in ca_marks %}
          <tr>
            <td data-label="">

          <a class="text-current" href="#">{{ca_mark.student.name}}</a>
        </td>
        
        <td data-label="Company">
          <span class="badge bg-soft-success text-success">{{ca_mark.ca1}}</span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success">{{ca_mark.ca2}}</span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success">{{ca_mark.ca3}}</span>
        </td>
        <td data-label="Company">
          <span class="badge bg-soft-success text-success">{{ca_mark.ca4}}</span>
        </td>
        {# <td data-label="Job Title">
          <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
          <a class="text-heading font-semibold" href="#">
            {{ca_mark.subject.teacher.name}}
          </a>
        </td> #}
      </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}