{% extends "layout-teacher.html"%}

{% block main %}

<div class="main__container">
    <div class="bg-dark text-light p-4">
      <h3 class="mb-2 text-light stream_text">SUBJECT <a href="https://github.com/webpixels/css" target="_blank"></a></h3>
      <p class="text-light sem_text">PAPER CODE</p>
    </div><br>
  <div class="">
<table class="table table-responsive">
<thead class="thead-default">
<tr>
  
  <th>LIST</th>
  
  
  <th>NOTES</th>
</tr>
</thead>
<tbody>
<tr>
  
  <td>555-Timer</td>
  
  
  <td class="text-right"><div class="btn-group btn-group-sm"><a href="#" class="btn btn-danger">Download</a>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">555-Timer</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Op-Amp</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Oscilator</a><i class="fa fa-download" aria-hidden="true"></i>
      
    </div>
  </div></td>
</tr>
 <tr>
  
  <td>Op-Amp</td>
  
  
  <td class="text-right"><div class="btn-group btn-group-sm"><a href="#" class="btn btn-danger">Download</a>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Semi Conductor</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">P-Spice</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Matlab</a><i class="fa fa-download" aria-hidden="true"></i>
    </div>
  </div></td>
</tr>
 <tr>
 
  <td>Oscilator</td>
  
  
  <td class="text-right"><div class="btn-group btn-group-sm"><a href="#" class="btn btn-danger">Download</a>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Signal Synthesis</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Z Transform</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Laplace Transform</a><i class="fa fa-download" aria-hidden="true"></i>
    </div>
  </div></td>
</tr>
 <tr>
  
  <td>Circuit Theory</td>
  
  
  <td class="text-right"><div class="btn-group btn-group-sm"><a href="#" class="btn btn-danger">Download</a>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Z Transform</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Laplace Transform</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Special Cicuits</a><i class="fa fa-download" aria-hidden="true"></i>
    </div>
  </div></td>
</tr>
 <tr>
  
  <td>Capacitor</td>
  
  
  <td class="text-right"><div class="btn-group btn-group-sm"><a href="#" class="btn btn-danger">Download</a>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">Fourier Transform</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Laplace Transform</a><i class="fa fa-download" aria-hidden="true"></i>
      <a class="dropdown-item" href="#">Algorithn</a><i class="fa fa-download" aria-hidden="true"></i>
    </div>
  </div></td>
</tr>

</tbody>
</table>
</div>

{% endblock %}