<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/stylesheet.css" />
    <link rel="stylesheet" href="https://unpkg.com/@webpixels/css@1.0/dist/index.css" />
    <title>Rcciit DASHBOARD</title>
  </head>
  <body id="body">
    <!-- <div class="container"> -->
    
    
      <div class="row">
        <div class="col-md-3">
          <div id="sidebar">
            <div class="sidebar__title">
              <div class="sidebar__img">
                <img src="../static/assets/images/RCC_LOGO.png" height="50px" width="50px" alt="logo" />
                <p style="margin-left: 10px;">Rcc Institute Of Information Technology</p>
              </div>
              <i
                onclick="closeSidebar()"
                class="fa fa-times"
                id="sidebarIcon"
                aria-hidden="true"
              ></i>
            </div>
    
            <div class="sidebar__menu">
              <div class="sidebar__link active_menu_link">
                <i class="fa fa-home"></i>
                <a href="/dashboard">Dashboard</a>
                 
              </div>
      
              <div class="sidebar__link">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <a href="/course">Courses</a>
              </div>
              <div class="sidebar__link">
                <i class="fa fa-building-o"></i>
                <a href="/student-routine">Routine</a>
              </div>
              <div class="sidebar__link">
                <i class="fa fa-user-secret"></i>
                <a href="/student-ca-marks">CA Marks</a>
              </div>
              
          
              
              <div class="sidebar__link">
                <i class="fa fa-sign-out"></i>
                <a href="/student-notes">Notes</a>
              </div>
              <div class="sidebar__link">
                <i class="fa fa-calendar-check-o"></i>
                <a href="#">Assignments</a>
              </div>
              <div class="sidebar__link">
                <i class="fa fa-files-o"></i>
                <a href="/change-password">Change Password</a>
              </div>
             
              <div class="sidebar__logout">
                <i class="fa fa-power-off"></i>
                <a href="/logout">Log out</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="navbar__left">
              
              <a class="active_link" href="#">Student</a>
            </div>
            <div class="navbar__right">
              <form method="post" action="/teacher-details">
                <input type="text" name="emp_id" class="navbar-search-inp" placeholder="Enter Teacher emp Id for details">
                <button type="submit" value="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
              <a href="/contact-us">
                <i class="fa fa-clock-o" aria-hidden="true"> Contact</i>
              </a>
              <a href="#">
                <img width="30" src="assets/avatar.svg" alt="" />
                 <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
              </a>
            </div>
          </nav>
      <main id="main_content">
        {% block main %}

        {% endblock %}
      
        
      </main>
    </div>

    
  </div>
    <!-- </div> -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/assets/js/dc.js"></script>
  </body>
</html>